inputFiles/XSD_Schema/questions/wizard-question.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="wizardQuestionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="ref" use="required"/>
                <xs:attribute type="xs:boolean" name="answer" use="required"/>
                <xs:attribute type="xs:boolean" name="manuallyModified" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>