inputFiles/XSD_Schema/components/useCases/usecase-library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="threats/threats-library.xsd"/>
    <xs:complexType name="usecaseLibraryType">
        <xs:sequence>
            <xs:element type="threatsLibraryType" name="threats"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="ref" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="desc" use="required"/>
        <xs:attribute type="xs:string" name="library" use="optional"/>
    </xs:complexType>
</xs:schema>