inputFiles/XSD_Schema/components/useCases/usecase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="threats/threats.xsd"/>
    <xs:complexType name="usecaseType">
        <xs:sequence>
            <xs:element type="threatsType" name="threats"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="ref" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="desc" use="required"/>
        <xs:attribute type="xs:string" name="library" use="required"/>
    </xs:complexType>
</xs:schema>