inputFiles/XSD_Schema/components/controls/control-library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="implementations.xsd"/>
    <xs:include schemaLocation="references.xsd"/>
    <xs:include schemaLocation="standards.xsd"/>
    <xs:include schemaLocation="../../udts/udts.xsd"/>
    <xs:include schemaLocation="../tests/test-library.xsd"/>
    <xs:complexType name="controlLibraryType">
        <xs:all>
            <xs:element type="xs:string" name="desc"/>
            <xs:element type="implementationsType" name="implementations"/>
            <xs:element type="referencesType" name="references"/>
            <xs:element type="standardsType" name="standards"/>
            <xs:element type="udtsType" name="udts"/>
            <xs:element type="testLibraryType" name="test"/>
        </xs:all>
        <xs:attribute type="xs:string" name="ref" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="issueId" use="optional"/>
        <xs:attribute type="xs:string" name="platform" use="optional"/>
        <xs:attribute type="xs:integer" name="cost" use="required"/>
        <xs:attribute type="xs:integer" name="risk" use="required"/>
        <xs:attribute type="xs:string" name="state" use="required"/>
        <xs:attribute type="xs:string" name="owner" use="optional"/>
        <xs:attribute type="xs:string" name="library" use="optional"/>
        <xs:attribute type="xs:string" name="source" use="optional"/>
    </xs:complexType>
</xs:schema>