inputFiles/XSD_Schema/components/controls/implementation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../assets/assets-ref.xsd"/>
    <xs:complexType name="implementationType">
        <xs:sequence>
            <xs:element type="xs:string" name="desc"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="platform" use="required"/>
    </xs:complexType>
</xs:schema>