inputFiles/XSD_Schema/components/useCases/threats/risk-rating.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="riskRatingType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:integer" name="confidentiality" use="required"/>
                <xs:attribute type="xs:integer" name="integrity" use="required"/>
                <xs:attribute type="xs:integer" name="availability" use="required"/>
                <xs:attribute type="xs:integer" name="easeOfExploitation" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>