inputFiles/XSD_Schema/components/useCases/threats/weakness-ref.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="controls-ref.xsd"/>
    <xs:complexType name="weaknessRefType">
        <xs:sequence>
            <xs:element type="controlsRefType" name="controls"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="ref" use="required"/>
    </xs:complexType>
</xs:schema>