inputFiles/XSD_Schema/components/tests/source.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="sourceType">
        <xs:sequence>
            <xs:element type="xs:string" name="output"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="filename" use="required"/>
        <xs:attribute type="xs:string" name="args" use="required"/>
        <xs:attribute type="xs:string" name="type" use="required"/>
        <xs:attribute type="xs:string" name="result" use="required"/>
        <xs:attribute type="xs:boolean" name="enabled" use="required"/>
        <xs:attribute type="xs:dateTime" name="timestamp" use="required"/>
    </xs:complexType>
</xs:schema>