inputFiles/XSD_Schema/components/tests/test-library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="source.xsd"/>
    <xs:include schemaLocation="../controls/references.xsd"/>
    <xs:include schemaLocation="../../udts/udts.xsd"/>
    <xs:complexType name="testLibraryType">
        <xs:all>
            <xs:element type="xs:string" name="steps"/>
            <xs:element type="xs:string" name="notes"/>
            <xs:element type="referencesType" name="references"/>
            <xs:element type="sourceType" name="source" minOccurs="0"/>
            <xs:element type="udtsType" name="udts"/>
        </xs:all>
        <xs:attribute type="xs:string" name="expiryDate" use="required"/>
        <xs:attribute type="xs:string" name="expiryPeriod" use="required"/>
    </xs:complexType>
</xs:schema>