inputFiles/XSD_Schema/assets/asset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="classification.xsd"/>
    <xs:complexType name="assetType">
        <xs:sequence>
            <xs:element type="classificationType" name="classification" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="type" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="desc" use="required"/>
        <xs:attribute type="xs:string" name="identifier" use="optional"/>
    </xs:complexType>
</xs:schema>