inputFiles/XSD_Schema/assets/classification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="classificationType">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="desc" use="required"/>
        <xs:attribute type="xs:integer" name="confidentiality" use="required"/>
        <xs:attribute type="xs:integer" name="integrity" use="required"/>
        <xs:attribute type="xs:integer" name="availability" use="required"/>
    </xs:complexType>
</xs:schema>