inputFiles/XSD_Schema/diagram/diagram.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="diagramType">
        <xs:all>
            <xs:element type="xs:string" name="schema"/>
        </xs:all>
        <xs:attribute type="xs:string" name="draft" use="required"/>
    </xs:complexType>
</xs:schema>
