inputFiles/XSD_Schema/componentDefinitions/component-definition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="risk-patterns.xsd"/>
    <xs:complexType name="componentDefinitionType">
        <xs:sequence>
            <xs:element type="riskPatternsType" name="riskPatterns"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="ref" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="desc" use="required"/>
        <xs:attribute type="xs:string" name="categoryRef" use="required"/>
    </xs:complexType>
</xs:schema>