src/PygenerateDS/gui/forGUI.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="interface">
    <xs:annotation>
      <xs:documentation>Generated with glade 3.18.3</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requires">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="lib"/>
                <xs:attribute type="xs:float" name="version"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="object" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="translatable" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="accel-groups" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="group">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="signal" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name"/>
                      <xs:attribute type="xs:string" name="handler"/>
                      <xs:attribute type="xs:string" name="swapped"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="child" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="object">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="child" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="object" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="name" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="child" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="object">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute type="xs:string" name="name" use="optional"/>
                                                          <xs:attribute type="xs:string" name="translatable" use="optional"/>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="child" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="object">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                      <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                              <xs:element name="child" maxOccurs="unbounded" minOccurs="0">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element type="xs:string" name="placeholder" minOccurs="0"/>
                                                                    <xs:element name="object" minOccurs="0">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                                                                            <xs:complexType>
                                                                              <xs:simpleContent>
                                                                                <xs:extension base="xs:string">
                                                                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                                  <xs:attribute type="xs:string" name="translatable" use="optional"/>
                                                                                </xs:extension>
                                                                              </xs:simpleContent>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                          <xs:element name="signal" minOccurs="0">
                                                                            <xs:complexType>
                                                                              <xs:simpleContent>
                                                                                <xs:extension base="xs:string">
                                                                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                                  <xs:attribute type="xs:string" name="handler" use="optional"/>
                                                                                  <xs:attribute type="xs:string" name="swapped" use="optional"/>
                                                                                </xs:extension>
                                                                              </xs:simpleContent>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                          <xs:element name="accelerator" minOccurs="0">
                                                                            <xs:complexType>
                                                                              <xs:simpleContent>
                                                                                <xs:extension base="xs:string">
                                                                                  <xs:attribute type="xs:string" name="key" use="optional"/>
                                                                                  <xs:attribute type="xs:string" name="signal" use="optional"/>
                                                                                  <xs:attribute type="xs:string" name="modifiers" use="optional"/>
                                                                                </xs:extension>
                                                                              </xs:simpleContent>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                          <xs:element name="child" minOccurs="0">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element type="xs:string" name="placeholder"/>
                                                                              </xs:sequence>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:string" name="class" use="optional"/>
                                                                        <xs:attribute type="xs:string" name="id" use="optional"/>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="packing" minOccurs="0">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                                                                            <xs:complexType>
                                                                              <xs:simpleContent>
                                                                                <xs:extension base="xs:byte">
                                                                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                                </xs:extension>
                                                                              </xs:simpleContent>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="class" use="optional"/>
                                                            <xs:attribute type="xs:string" name="id" use="optional"/>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:string" name="type" use="optional"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="signal" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute type="xs:string" name="name" use="optional"/>
                                                          <xs:attribute type="xs:string" name="handler" use="optional"/>
                                                          <xs:attribute type="xs:string" name="swapped" use="optional"/>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="class" use="optional"/>
                                                <xs:attribute type="xs:string" name="id" use="optional"/>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="packing" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute type="xs:string" name="name" use="optional"/>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="class" use="optional"/>
                                    <xs:attribute type="xs:string" name="id" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="packing" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="name" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="placeholder" minOccurs="0"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="internal-child" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="class" use="optional"/>
                        <xs:attribute type="xs:string" name="id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="internal-child" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="action-widgets" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="action-widget">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="response"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="class" use="optional"/>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>