inputFiles/XSD_Schema/rules/condition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="pattern.xsd"/>
    <xs:complexType name="conditionType">
        <xs:sequence>
            <xs:element type="patternType" name="pattern" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="field" use="required"/>
        <xs:attribute type="xs:string" name="value" use="required"/>
    </xs:complexType>
</xs:schema>