inputFiles/XSD_Schema/dataflows/dataflow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../assets/assets-ref.xsd"/>
    <xs:complexType name="dataflowType">
        <xs:sequence>
            <xs:element type="assetsRefType" name="assets"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="source" use="required"/>
        <xs:attribute type="xs:string" name="target" use="required"/>
    </xs:complexType>
</xs:schema>